<div id = 'header'>
	<a href = "/"><h1>Drewly</h1></a>
	<h3>Short Links Large Stats</h3>
</div>

<div id = "body">
	<form id = "url_form" action="/new" method="post">
		<h3>Enter the url you want to shorten:</h3>
	  	<input id = "textbox" type="text" name="url">
	  	<input id = "submit" type = "submit" name = "submit_button">
	</form>
</div>

