<h3>This link has been clicked <%= @clicks.size %> times</h3>
<h4>The peak times are:</h4>
<ul>
	<% @times_array.each { |hour| %>
		<li><p><%= hour %> O'Clock</p></li>
	<% } %>
</ul>

<h4>The link has been accessed from:</h4>
<ul>
	<% @referers_array.each { |site| %>
		<li><p><%= site %></p></li>
	<% } %>
</ul>
